In [1]:
import os
import re
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime, timedelta

# Load the data
ultra_marathon_loc = os.path.join(os.getcwd(), 'data', 'ultra_marathon.csv')
ultra_marathon = pd.read_csv(ultra_marathon_loc)
ultra_marathon.head(3)

/home/victor/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2

In [9]:
# Clean the data

# Rename columns
ultra_marathon.rename(columns={
    'Year of event':                'Year',         # int
    'Event dates':                  'Dates',        # [datetime]
    'Event name':                   'Event_name',   # str
    'Event distance/length':        'Length',       # str; contains km or hours
    'Event number of finishers':    'Finishers',    # int
    'Athlete performance':          'Performance',  # str; contains km or hours
    'Athlete club':                 'Club',         # str
    'Athlete country':              'Country',      # str
    'Athlete year of birth':        'Birth',        # float (contains significant nan values)
    'Athlete gender':               'Gender',       # str
    'Athlete age category':         'Age',          # int (contains significant nan values)
    'Athlete average speed':        'Average_speed',# float
    'Athlete ID':                   'Id'            # int
}, inplace=True)


def parseDates(given_string):
    # The possible formats are: '00.01.2000', '01.-05.01.2000', '31.01.-01.02.2000', '31.12.2000-01.01.2001'
    try:
        return [datetime.strptime(given_string, "%d.%m.%Y")]
    except:
        pass
    try:
        interval = given_string.split('-')
        for separation_length in [3, 6, 10]:
            if len(interval[0]) == separation_length:
                first_day = datetime.strptime(interval[0] + interval[1][separation_length:], "%d.%m.%Y")
                last_day = datetime.strptime(interval[1], "%d.%m.%Y")
                return [first_day + timedelta(days=i) for i in range((last_day - first_day).days + 1)]
    except:
        # None parsable & existent dates such as 00.01.2000
        return None
    

def convert_to_kilometers(given_string):
    if given_string == None or ("mi" not in given_string):
        return given_string
    else:
        return "{:.1f}km".format(float(given_string.replace('mi', '')) * 1.60934)



# TODO: Uncomment lines

# Parse into appropiate data types
# pd.to_numeric(ultra_marathon['Year'], errors='coerce')
# ultra_marathon['Dates'] = ultra_marathon['Dates'].apply(lambda each: parseDates(each))
# ultra_marathon['Length'] = ultra_marathon['Length'].apply(convert_to_kilometers)
# pd.to_numeric(ultra_marathon['Finishers'], errors='coerce')
# pd.to_numeric(ultra_marathon['Birth'], errors='coerce')
# ultra_marathon['Age'] = ultra_marathon['Age'].str.slice(1,3)
# pd.to_numeric(ultra_marathon['Age'], errors='coerce')
# ultra_marathon['Age'] = ultra_marathon['Age'].str.extract(r'(\d+)')
# ultra_marathon['Age'] = pd.to_numeric(ultra_marathon['Age'], errors='coerce', downcast='integer')
# ultra_marathon['Average_speed'] = pd.to_numeric(ultra_marathon['Average_speed'], errors='coerce')
# ultra_marathon['Id'] = pd.to_numeric(ultra_marathon['Id'], errors='coerce', downcast='integer')



# print(ultra_marathon['Id'].unique()[:150])
# print(ultra_marathon['Id'].isna().sum())




# Drop all entries with null values, except for the 'Club' column (and maybe birth, age)

# ultra_marathon.dropna(inplace=True)
# print(ultra_marathon.isnull().sum())
# print(ultra_marathon[ultra_marathon['Finishers'] =="0"].sum())
# null_values = ultra_marathon[ultra_marathon['Event_name'].isnull() | (ultra_marathon['Event_name'] == '') | (ultra_marathon['Event_name'] == 'NULL') | (ultra_marathon['Event_name'] == 'NA')]

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149]
0
0

"\npd.to_numeric(ultra_marathon['Length'])\npd.to_numeric(ultra_marathon['Finishers'])\npd.to_timedelta(ultra_marathon['Performance'])\npd.to_numeric(ultra_marathon['Birth'])\npd.to_numeric(ultra_marathon['Age'])\npd.to_numeric(ultra_marathon['Average_speed'])\npd.to_numeric(ultra_marathon['Id'])\n"

['sdkfsdf.sdfsdfsf.sdfsdf']